HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
src/main/resources/static/temp

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/src/main/java/com/ezhixuan/codeCraftAi_backend/gernerate/res/
/.xcodemap/config/xcodemap-class-filter.yaml
/src/main/resources/application-dev.yml
/src/main/resources/application-openAi.yml
/src/main/resources/application-gemini.yml
/src/main/resources/application-kimi2.yml
